.table {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.table > * {
    margin-bottom: 15px;
}

.table > *:last-child {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: #a8a7a7;
}

.tableCell {
    margin: 5px;
    padding: 10px;
    flex-grow: 1;
    
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    
    border-radius: 10px;
    background-color: rgb(224, 222, 83);
}
